.invalid {

    .input-text {
        border-color: $invalid;
        -webkit-box-shadow: 0px 0px 11px 4px $invalid;
        -moz-box-shadow: 0px 0px 11px 4px $invalid;
        box-shadow: 0px 0px 11px 4px $invalid;
    }
}

.invalid-feedback {

    &--p {
        color: $invalid;
    }
}
