<template>
    <div class="container">
        <div class="island-list__list">
            <div v-for="category in categories">

            </div>
        </div>
    </div>
</template>

<script>

import {log} from "util";

export default {
    name: "Recipes",
    props: [
        'route_api',
        'categories',
        'route_show',
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            pagination: {}
        }
    },

    mounted() {
        this.getPosts();
    },

    methods: {
        log,
        async getPosts(page_url) {
            page_url = this.route_api
            await axios.get(this.route_api)
                .then(response => {
                    this.categories = response.data;
                })
                .catch(({response}) => {
                })
        },
    }
}
</script>
