<template>
    <div class="container">
        <div class="recipe-show">
            <div class="recipe-show__buttons">

            </div>

            <div class="recipe-show__title">
                {{ recipe.title }}
            </div>

            <div class="recipe-show__image">
                <img class="main-image" :src="'/storage/' + recipe.image" alt="#">
                <div class="banner">
                    <div id="yandex_rtb_R-A-2245982-6"></div>
                </div>
            </div>

            <div class="recipe-show__description">
                {{ recipe.description }}
            </div>

            <div class="recipe-show__info">
                <div class="info-item">
                    <p class="info-item__text">Время готовки:</p>
                    <p class="info-item__value">{{ recipe.time }}</p>
                </div>
                <div class="info-item">
                    <p class="info-item__text">Количество калорий:</p>
                    <p class="info-item__value">{{ recipe.calories }}</p>
                </div>
                <div class="info-item">
                    <p class="info-item__text">Белки:</p>
                    <p class="info-item__value">{{ recipe.proteins }}</p>
                </div>
                <div class="info-item">
                    <p class="info-item__text">Углеводы:</p>
                    <p class="info-item__value">{{ recipe.carbs }}</p>
                </div>
                <div class="info-item">
                    <p class="info-item__text">Жиры:</p>
                    <p class="info-item__value">{{ recipe.fats }}</p>
                </div>
                <div class="info-item">
                    <p class="info-item__text">Количество порций:</p>
                    <p class="info-item__value">{{ recipe.portions }}</p>
                </div>
            </div>

            <div class="recipe-show__ingredients">
                <div class="ingredients-title">Ингредиенты</div>
                <div v-for="ingredient in JSON.parse(recipe.ingredients)">
                    <p class="ingredients-item">{{ ingredient }}</p>
                </div>
            </div>
            <div class="recipe-show__section">
                <div class="recipe-show-banner-step-right">
                    <div id="yandex_rtb_R-A-2245982-1"></div>
                </div>
                <div class="recipe-show__steps">
                    <div class="steps-title">Пошаговый рецепт приготовления</div>
                    <div class="steps-item" v-for="step in steps">
                        <p class="steps-item__title"><span>{{ step.step + '.' }}</span>{{ step.title }}</p>
                        <div class="steps-item__image" v-if="step.image != null">
                            <img :src="'/storage/'+step.image" alt="#">
                        </div>
                        <p class="steps-item__description">{{ step.description }}</p>
                    </div>
                </div>
            </div>
            <div class="recipe-show__similar">
                <div class="similar-title">Похожие материалы</div>
                <div class="recipe-show__similar-list">
                    <a :href="route_recipe_show.replace(':slug', recomendation.slug)" class="recipe-show__similar-item"
                       v-for="recomendation in recomendations">
                        <p class="recipe-show__similar-title">{{ recomendation.title }}</p>
                        <div class="recipe-show__similar-image">
                            <img :src="'/storage/'+recomendation.image" alt="#">
                        </div>
                        <p class="recipe-show__similar-description">{{ recomendation.description }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "RecipeShow",
    props: [
        'recipe',
        'steps',
        'recomendations',
        'route_recipe_show',
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },

    mounted() {
        window.yaContextCb.push(()=>{
            Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-2245982-1',
                blockId: 'R-A-2245982-1'
            })
        });

        window.yaContextCb.push(()=>{
            Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-2245982-6',
                blockId: 'R-A-2245982-6'
            })
        });
    },

    methods: {}
}

</script>
