.scroll-bar {

    scrollbar-color: yellow #00000000;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        display: block;
        width: 6px;
        max-height: 80%;
        right: 10px;
        border-top: 40px solid transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 6px;
        padding-right: 20px !important;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        border: 5px solid white;
        background-color: white;
    }

    &::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 10px;
    }

    &::-webkit-scrollbar-track-piece:start {
        background: transparent;
        margin-top: 10px;
    }
}
