<template>
    <div class="container">
        <pagination-search
        :route_api="route_api"
        :current_url="current_url"
        :route_recipe_show="route_recipe_show"
        ></pagination-search>
    </div>
</template>

<script>

import PaginationSearch from "../pagination/PaginationSearch";
export default {
    name: "SearchMain",
    components: {PaginationSearch},
    props: [
        'route_api',
        'current_url',
        'route_recipe_show',
    ],
}

</script>
