.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 22px;
    padding: 0;
    overflow: hidden;

    &__button {
        float: left;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background: #dcdcdc;
        border-radius: 5px;
        margin: 0 4px;
        width: 24px;
        height: 24px;

        a {
            display: block;
            padding: 2px;
            color: black;
            text-decoration: none;
        }

        img {
            width: 15px;
        }

        &--page {
            @include default-transition();
            color: #212121;
            background: transparent;

            &:hover {
                background: #F8CA13;
                border-radius: 8px;
            }
        }

        &-link {
            @include default-transition();
            cursor: pointer;
        }

        &--active {
            @include default-transition();
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            color: #212121;
            background: #95aed5;
            border-radius: 8px;

            a {
                display: block;
                padding: 7px;
                color: #212121;
            }
        }

        &--active:hover {
            border-radius: 8px;
        }

        &--back,
        &--next {
            @include default-transition();
            cursor: pointer;
            background: #ffffff;
            border-radius: 5px;

            img {
                @include default-transition();

                &:hover {
                    filter: invert(70%) sepia(60%) saturate(192%) hue-rotate(178deg) brightness(89%) contrast(87%);
                    background: transparent;
                }
            }
        }

        &--gap {
            text-decoration: none;
        }
    }
}

