.catalog {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 75%;

    @media (max-width: 998px) {
        width: unset;
        padding: 0 45px;
    }

    @media (max-width: 768px) {
        padding: 0 15px;
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        margin: 25px 0;
    }

    &__description {
        margin-bottom: 25px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 998px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .category-item {
            margin: 20px 0;

            &__image {
                img {
                    width: 90%;

                    @media (max-width: 768px) {
                        width: 95%;
                    }
                }
            }

            &__title {
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}
