.catalog-show {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 75%;

    @media (max-width: 998px) {
        width: unset;
        padding: 0 45px;
    }

    @media (max-width: 768px) {
        padding: 0 15px;
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        margin: 25px 0;
    }

    &__description {
        font-size: 18px;
        margin-bottom: 50px;
    }

    &__subcategories-list {
        display: flex;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
        flex-wrap: wrap;

        .subcategory {
            display: flex;
            align-items: center;
            background: #95aed5;
            border-radius: 5px;
            padding: 5px 10px;

            transition: all 600ms ease;

            &:hover {
                transform: scale(1.05);
            }

            &__image {
                img {
                    width: 45px;
                    height: 45px;
                }
            }

            &__title {
                font-weight: bold;
            }
        }
    }

    &__recipes-list {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 50px;
        gap: 40px;
        justify-content: center;

        @media(max-width: 998px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .recipe {
            width: 20%;
            border: 2px solid #95aed5;
            border-radius: 5px;

            @media(max-width: 998px) {
                width: 45%;
            }

            @media(max-width: 768px) {
                width: 80%;
            }

            &__title {
                font-size: 18px;
                font-weight: bold;
                margin: 10px 5px;
                text-align: center;;
            }

            &__description {
                margin: 10px 5px 30px;
            }

            &__image {
                img {
                    object-fit: cover;
                    width: 100%;
                    aspect-ratio: 1/1;
                }
            }

            &__description {
                margin-bottom: 30px;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}


