.textarea{
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: $turquoise;
    font-size: 14px;
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    outline: none;
    min-height: 300px;

    &::placeholder{
        color: $turquoise;
    }
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: #95aed5;
    margin-bottom: 20px;

    &__label {
        text-transform: capitalize;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        color: #95aed5;
    }

    input{
        &::placeholder{
            text-transform: capitalize;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            color: #95aed5;
        }
    }

}

.input-text{
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    outline: none;
    color: #95aed5;
}
