.card-about {
    gap: 20px;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $laptop-L) {
        flex-direction: row;
        width: $laptop-L;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title {
        text-align: center;
        font-family: "Frank Ruhl Libre", Georgia, serif;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 1.1;
        color: #222;
    }

    &__text {
        font-size: 1rem;
        line-height: 1.5;
        font-family: "PT Sans";
        color: #1d211f;
    }

}
