.card {
    width: 400px;
    text-decoration: none;
    background: radial-gradient(#efd34b, #939358);
    border-radius: 15px;
    overflow: hidden;

    &__wrapper {
        padding: 10px;
    }

    &__tag {
        color: #b5460f;
        background-image: none;
        padding: 0;

        display: inline-block;
        font-family: Roboto, Helvetica, sans-serif;
        font-size: .75rem;
        line-height: 30px;
        font-weight: 700;
    }

    &__title {
        text-align: left;
        font-family: "Frank Ruhl Libre", Georgia, serif;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 1.1;
        color: #222;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__descriptions {
        font-size: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #222;

    }

    img {
        width: 100%;
    }
}
