.recipe-show {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 75%;

    @media (max-width: 998px) {
        width: unset;
        padding: 0 45px;
    }

    @media (max-width: 768px) {
        padding: 0 15px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse
        }
    }

    &__title {
        font-size: 32px;
        font-weight: bold;
        margin: 25px 0;
    }

    &__description {
        font-size: 18px;
        margin-bottom: 50px;
    }

    &__image {
        margin-bottom: 50px;
        display: flex;
        gap: 20px;

        .main-image {
            width: 75%;
            object-fit: cover;
            aspect-ratio: 5/3;
            border-radius: 20px;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .banner {
            width: 25%;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 2px solid rgb(149, 174, 213);
        border-radius: 5px;
        padding: 30px 15px;
        width: 75%;
        margin: 0 auto;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            padding: 30px 10px;
            width: 65%;
        }
    }

    .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__text {
            font-weight: bold;
        }

        &__value {
            font-weight: bold;
            color: rgb(149, 174, 213);
            margin: 15px 0;
        }
    }

    &__ingredients {
        .ingredients-title {
            font-size: 24px;
            font-weight: bold;
            margin: 45px 0 30px;
        }

        .ingredients-item {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 15px;
            border-bottom: 1px solid silver;
            padding-bottom: 10px;
        }
    }

    &__steps {
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }

        .steps-title {
            font-size: 24px;
            font-weight: bold;
            margin: 30px 0;
        }

        .steps-item {
            &__title {
                font-size: 24px;
                margin-bottom: 15px;

                span {
                    margin-right: 10px;
                    color: rgb(149, 174, 213);
                }
            }

            &__image {
                margin: 20px 0;

                img {
                    width: 100%;
                    border-radius: 20px;

                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }
            }

            &__description {
                margin-bottom: 35px;
            }
        }
    }

    &__similar {

    }

    &__similar-title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__similar-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    &__similar-item {
        width: 15%;

        @media (max-width: 1024px) {
            width: 25%;
        }

        @media (max-width: 768px) {
            width: 40%;
        }
    }

    &__similar-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__similar-image {
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 20px;
        }
    }
}

.similar-title {
    font-size: 24px;
    font-family: Inter, sans-serif;
}

.recipe-show-banner-step-right {
    display: flex;
    object-fit: cover;
    aspect-ratio: 5/3;
    width: min-content;
    margin: 0 auto;

    @media (min-width: 998px) {
        display: flex;
        width: 20%;
        height: 50%;
        position: sticky;
        top: 70px;
        margin: 0 ;
    }
}
