.modal {
    background: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99999;

    &--invisible {
        display: none;
    }

    &__text {
        color: #ffffff;
        font-size: 18px;
        padding: 0 25px;
    }

    &__verify {
        color: #ffffff;
        font-size: 18px;
        margin-top: 35px;
    }

    &__verify-confirm {
        background: green;
        border-radius: 5px;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        margin-top: 35px;
        cursor: pointer;
        border: none;

        &--disabled {
            opacity: 0.5;
        }
    }
}
