.category-container {
    margin: 70px 15px;
}

.category-show {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__name {
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
    }

    &__description {
        font-size: 18px;
        color: gold;
        margin-top: 15px;
    }
}


