<template>
    <div class="container">
        <div class="island-list__list">
            <div class="section-content section-content-banner">
                <img class="" :src="'img/default-img/eda.jpg'" alt="#">
            </div>
            <div class="section-content section-content--background section-content--padding-20">

                <div class="card-list">
                    <a :href="route_article_show.replace(':slug',article.slug)" class="card" v-for="article in articles">
                        <img class="card__img" :src="'img/default-img/eda.jpg'" alt="#">
                        <div class="card__wrapper">
                            <div class="card__content">

                                <div class="card__tag" v-for="article_category in article.article_categories">
                                    {{ article_category.categories.name }}
                                </div>
                                <div class="card__title">{{ article.title }}</div>
                            </div>
                        </div>
                        <div class="card__footer"></div>
                    </a>
                </div>
            </div>

            <div class="section-content section-content--background section-content--padding-20 mt-0 ">
                <div class="section-content__title">Рецепты</div>
                <div class="card-list">
                    <a :href="route_catalog_show.replace(':slug',recipe.slug)" class="card" v-for="recipe in recipes">
                        <img class="card__img" :src="'/storage/'+recipe.image" alt="#">
                        <div class="card__wrapper">
                            <div class="card__content">

                                <div class="card__tag">
                                    {{ recipe.name }}
                                </div>
                                <div class="card__title">{{ recipe.description }}</div>
                            </div>
                        </div>
                        <div class="card__footer"></div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</template>

<script>

import {log} from "util";

export default {
    name: "Home",
    props: [
        'route_api',
        'recipes',
        'articles',
        'popular',
        'route_article_show',
        'route_recipe_show',
        'route_catalog_show',
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            pagination: {}
        }
    },

    mounted() {
        this.getPosts()
    },

    methods: {
        log,
        async getPosts(page_url) {
            page_url = this.route_api
            await axios.get(this.route_api)
                .then(response => {
                    console.log(response.data[0])
                    this.recipes = response.data[1]
                    this.articles = response.data[0]
                    this.popular = response.data[2]
                })
                .catch(({response}) => {
                })
        },
    }
}
</script>
