body {
    background: white;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

.container {
    margin: 59px auto 0;
}

video {
    width: 100%;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.d-none {
    display: none !important;
}

.unscrollable {
    @media (max-width: 768px) {
        position: fixed;
    }
}

.mt-0{
    margin-top: 0 !important;
}

.ml-20{
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;

    &__item {
        margin-right: 15px;
        font-size: 18px;
        font-weight: bold;
        color: #95aed5;

        &:not(:last-of-type) {
            &:after {
                content: '/';
                margin-left: 15px;
                color: black;
            }
        }
    }
}
