.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;

    &__item {
        @include default-transition();
        color: $nav-bar-item;
        background: $nav-bar-item-background;
        padding: 10px 15px;
        border-radius: 15px;
        cursor: pointer;

        &:hover{
            background: $nav-bar-item-hover;
        }

    }
}
