<template>
    <div class="container">
        <div class="catalog-show">
            <ul class="breadcrumb">
                <li class="breadcrumb__item"><a :href="main_page">Главная</a></li>
                <li class="breadcrumb__item"><a :href="route_catalog">Каталог рецептов</a></li>
                <li class="breadcrumb__item">{{category.name}}</li>
            </ul>

            <p class="catalog-show__title">{{ category.name }}</p>

            <p class="catalog-show__description">{{ category.description }}</p>

            <div class="catalog-show__subcategories-list">
                <a class="subcategory" :href="route_category_show.replace(':slug', subcategory.slug)"
                   v-for="subcategory in subcategories">
                    <p class="subcategory__title">
                        {{ subcategory.name }}
                    </p>
                </a>
            </div>
        </div>

        <pagination-recipes
            :route_api="route_api"
            :route_category_show="route_category_show"
            :route_recipe_show="route_recipe_show"
        ></pagination-recipes>

    </div>
</template>

<script>

import PaginationRecipes from "../pagination/PaginationRecipes";

export default {
    name: "CatalogShow",
    components: {PaginationRecipes},
    props: [
        'category',
        'subcategories',
        'route_category_show',
        'route_recipe_show',
        'main_page',
        'route_catalog',
        'route_api'
    ],
}

</script>
