<template>
    <div class="container">
        <div class="catalog">
            <ul class="breadcrumb">
                <li class="breadcrumb__item"><a :href="main_page">Главная</a></li>
                <li class="breadcrumb__item">Каталог рецептов</li>
            </ul>

            <p class="catalog__title">Каталог рецептов</p>

            <p class="catalog__description">
                Любите когда все, что называется "по полкам"? Тогда каталог рецептов именно то, что вам нужно! У хорошей
                хозяйки самое необходимое на кухне - на расстоянии вытянутой руки. Вот мы и подумали, что наши
                замечательные рецепты по которым вы уже готовили и будете продолжать, нужно собрать в доступный, удобный
                и понятный каталог.
            </p>

            <p class="catalog__description">
                Например, вы ждете гостей. В меню закуски, горячее и десерт. Открываете наш каталог рецептов и выбирайте
                то, что сможете приготовить и чему будут рады ваши близкие! И кстати, обратите внимание на раздел
                "Заготовки", в наше время запасы как никогда актуальны.
            </p>

            <pagination-categories
                :route_api="route_api"
                :current_url="current_url"
                :route_category_show="route_category_show"
            ></pagination-categories>
        </div>
    </div>
</template>

<script>

import PaginationCategories from "../pagination/PaginationCategories";

export default {
    name: "CatalogMain",
    components: {PaginationCategories},
    props: [
        'route_category_show',
        'current_url',
        'route_api',
        'main_page'
    ],
}
</script>
