.search-results {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.search {
    flex-grow: 0;
    width: 40%;
    margin: auto;

    @media (min-width: $laptop) {

    }

    &__form {
        display: flex;
        flex-direction: row;

    }

    &__input {
        width: 100%;
        border-radius: 10px 0 0 10px;
        border: 1px solid $border-search;
        padding: 0px 4px 0px 16px;
        outline: none;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-search;
        background-color: white;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        height: 40px;
        width: 64px;
        margin: 0;

        img {
            filter: invert(77%) sepia(11%) saturate(1019%) hue-rotate(180deg) brightness(90%) contrast(84%);
            object-fit: fill;
            width: 25px;
        }
    }
}
