<template>

<footer class="footer">
    <div class="footer__logo">
        <a :href="route_home">
            <span>Рецепты Хаус</span>
        </a>
    </div>

    <div class="footer__copyright">
        <span class="channel-studio-card__name" v-html="'&copy; Copyright ' + current_year"/>
    </div>
</footer>

</template>

<script>
export default {
    name: "Footer",
    props: [
        'current_year',
        'route_home'
    ]
}
</script>

<style scoped>

</style>
