<template>
    <div>
        <div class="header">

            <div class="header__burger">
                <div class="burger burger-squeeze js-burger-button" @click="burger(this)">
                    <div class="burger-lines"></div>
                </div>
            </div>

            <div class="search">
                <form class="search__form" :action="route_search" method="get">
                    <input class="search__input" type="text" name="q" :value="search">
                    <button class="search__button">
                        <img :src="'/img/button/search.svg'" alt="#">
                    </button>
                </form>
            </div>

            <div class="header__logo">
                <a :href="route_home">
                    <span>Рецепты Хаус</span>
                </a>
            </div>

            <div class="header__links">
                <div class="guest-buttons" v-if="!auth_user">
                    <a class="guest-buttons__button" :href="route_login">
                        <span>Войти</span>
                    </a>
                    <a class="guest-buttons__button" :href="route_register">
                        <span>Регистрация</span>
                    </a>
                </div>
                <div class="auth-user-buttons" v-else>
                    <a :href="route_logout">
                        <span>Выйти</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="burger-sidebar js-burger-menu scroll-bar">

            <div v-if="!is_main_page">
                <a :href="route_home" class="burger-sidebar__item burger-sidebar__item--main-page list-item">
                    На главную страницу</a>
            </div>

            <div>
                <a :href="route_catalog" class="burger-sidebar__item burger-sidebar__item--main-page list-item">
                    Каталог рецептов</a>
            </div>

            <sidebar-blocks
                title_text="Рецепты"
                :random_items="random_recipes_cat"
                :route_item="route_catalog_show"
            ></sidebar-blocks>

        </div>
    </div>
</template>

<script>

import SidebarBlocks from "./SidebarBlocks";

export default {
    name: "Header",
    components: {SidebarBlocks},
    props: [
        'route_search',
        'route_login',
        'route_logout',
        'route_register',
        'route_categories',
        'route_home',
        'route_recipe',
        'route_article',
        'route_catalog',
        'route_catalog_show',
        'search',
        'auth',
        'is_main_page',
        'route',
        'random_articles',
        'random_recipes_cat',
        'route_catalog',
        'auth_user'
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },

    methods: {
        burger() {
            $('.js-burger-button').toggleClass('open')
            $('.js-burger-menu').toggleClass('burger-sidebar--active')
            $('#app').toggleClass('unscrollable');
        },

        setting() {
            $('.js-header-settings').toggleClass('header-settings--active')
        },
    }
}

</script>
