<template>
    <div class="burger-sidebar__block">
        <div :class="'burger-sidebar__item burger-sidebar__block-title ' + (isOpen ? 'burger-sidebar__item--active' : '')"
             @click="showList()">
            <a class="item-title">{{ title_text }}</a>
            <font-awesome-icon icon="fa-solid fa-chevron-down"
                               :class="'item-arrow ' + (isOpen ? 'item-arrow--active' : '')"/>
        </div>
        <div :class="'burger-sidebar__list ' + (isOpen ? 'burger-sidebar__list--active' : '')">
            <div v-for="random_item in random_items">
                <a :href="route_item.replace(':slug', random_item.slug)"
                   class="list-item">{{ random_item.name}}</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "SidebarBlocks",
    props: [
        'title_text',
        'random_items',
        'route_item',
    ],
    data() {
        return {
            isOpen: false,
        }
    },

    methods: {
        showList() {
            this.isOpen = !this.isOpen
        },
    }
}
</script>

<style scoped>

</style>
