$black: #0f0f0f;
$turquoise: #f0f9f9;
$border-search: #252525;
$search-button: #222222;

$invalid: #990000;

$nav-bar-item: #f1f1f1;
$nav-bar-item-hover: #555555;
$nav-bar-item-background: #212121;

$post-card-text: #f1f1f1;
$post-create-button-background: #399f41;
$post-create-button-background-hover: #194c1d;
$post-create-button-text: #f1f1f1;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 998px;
$laptop-L: 1440px;
$full4k: 2560px;
