.burger-sidebar {
    @include default-transition();
    padding: 10px 25px;
    width: 250px;
    position: fixed;
    top: 59px;
    left: -390px;
    background: #95aed5;
    border-right: 1px solid $black;
    z-index: 9999;
    transition: left .2s linear;
    text-align: left;
    overflow-y: scroll;
    height: 93vh;


    &__block {
        &:last-child {
            margin-bottom: 30px;
        }
    }

    &--active {
        @include default-transition();
        left: 0;
        top: 51px;
        transition: left .2s linear;
        display: block;
    }

    &__item,
    &__list {
        color: white;
        font-weight: 600;
        font-size: 20px;

        &--main-page {
            background: none;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        transition: all 1200ms ease;
        margin-top: 15px;

        &--active {
            border-radius: 5px 5px 0 0;
            transition: unset;
        }
    }

    &__list {
        overflow: hidden;
        height: 0;
        transition: height 400ms ease;
        bottom: 10px;

        &--active {
            height: max-content;
            padding: 0 10px 10px 10px;
        }
    }
}

.item-arrow {
    transition: all 400ms ease;
    position: relative;

    &--active {
        transform: rotate(180deg);
    }
}

.list-item {
    @include default-transition();
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    align-items: center;
    font-size: 22px;

    &:hover {
        color: #f8ca13;
    }

    img {
        object-fit: cover;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

.burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    -webkit-tap-highlight-color: transparent;
}

.burger .burger-lines:after {
    left: 0;
    top: -1em;
}

.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}

.burger:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
}

.burger .burger-lines {
    top: 50%;
    margin-top: -0.125em;
}

.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: $black;
    height: 0.25em;
    position: absolute;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.burger .burger-lines:after {
    left: 0;
    top: -1em;
}

.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}

.burger.burger-squeeze .burger-lines, .burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
    -webkit-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    -o-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
}

.burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
    width: 2em;
}

.burger.burger-squeeze.open .burger-lines, .burger.burger-squeeze.open .burger-lines:after, .burger.burger-squeeze.open .burger-lines:before {
    -webkit-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
    -o-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
    transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
}

.burger.burger-squeeze.open .burger-lines {
    background-color: transparent;
}

.burger.burger-squeeze.open .burger-lines:before, .burger.burger-squeeze.open .burger-lines:after {
    left: 0.5em;
    top: 0px;
}

.burger.burger-squeeze.open .burger-lines:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.burger-squeeze.open .burger-lines:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.item-title {
    color: white;
    font-size: 22px;
}
