<template>
    <div>
        <div class="catalog__list">
            <div class="category-item" v-for="category in categories">
                <div class="category-item__image">
                    <a :href="route_category_show.replace(':slug', category.slug)">
                        <img :src="'/storage/' + category.image" alt="">
                    </a>
                </div>

                <p class="category-item__title">
                    <a :href="route_category_show.replace(':slug', category.slug)">{{ category.name }}</a>
                </p>
            </div>
        </div>

        <ul class="pagination" v-if="pagination.last_page > 1">
            <li class="pagination__button pagination__button--back" v-if="pagination.prev_page_url !== null"
                @click.prevent="getCategories(pagination.prev_page_url)">
                <a class="pagination__button-link">
                    <img src="/img/pagination/button-back.svg" alt="button back">
                </a>
            </li>

            <li class="pagination__button pagination__button--gap"
                :class="{ 'pagination__button--active': link.active === true }"
                v-if="!isNaN(link.label)"
                v-for="(link, index) in pagination.links" :key="index"
                @click.prevent="getCategories(link.url)">
                <a class="pagination__button-link">
                    {{ link.label }}
                </a>
            </li>
            <li class="pagination__button pagination__button--next" v-if="pagination.next_page_url !== null"
                @click.prevent="getCategories(pagination.next_page_url)">
                <a class="pagination__button-link">
                    <img src="/img/pagination/button-next.svg" alt="button next">
                </a>
            </li>
        </ul>
    </div>
</template>

<script>

export default {
    name: "PaginationCategories",
    props: [
        'route_api',
        'current_url',
        'route_category_show'
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            pagination: {}
        }
    },

    mounted() {
        this.getCategories();
    },

    methods: {
        async getCategories(page_url) {
            page_url = page_url || this.route_api
            await axios.get(page_url)
                .then(response => {
                    this.categories = response.data.data
                    this.makePagination(response.data)
                })
                .catch(({response}) => {
                })
        },
        makePagination(response) {
            let pagination = {
                current_page: response.current_page,
                last_page: response.last_page,
                prev_page_url: response.prev_page_url,
                next_page_url: response.next_page_url,
                links: response.links,
                total: response.total
            }

            this.pagination = pagination
        }
    }
}
</script>

<style scoped>

</style>
