<template>
    <div>
        <div class="catalog-show__recipes-list">
            <a :href="route_recipe_show.replace(':slug', recipe.slug)" class="recipe" v-for="recipe in recipes">
                <div class="recipe__image">
                    <img :src="'/storage/'+recipe.image" alt="#">
                </div>

                <p class="recipe__title">{{ recipe.title }}</p>

                <p class="recipe__description">{{ recipe.description }}</p>
            </a>
        </div>

        <ul class="pagination" v-if="pagination.last_page > 1">
            <li class="pagination__button pagination__button--back" v-if="pagination.prev_page_url !== null"
                @click.prevent="getRecipes(pagination.prev_page_url)">
                <a class="pagination__button-link">
                    <img src="/img/pagination/button-back.svg" alt="button back">
                </a>
            </li>

            <li class="pagination__button pagination__button--gap"
                :class="{ 'pagination__button--active': link.active === true }"
                v-if="!isNaN(link.label)"
                v-for="(link, index) in pagination.links" :key="index"
                @click.prevent="getRecipes(link.url)">
                <a class="pagination__button-link">
                    {{ link.label }}
                </a>
            </li>
            <li class="pagination__button pagination__button--next" v-if="pagination.next_page_url !== null"
                @click.prevent="getRecipes(pagination.next_page_url)">
                <a class="pagination__button-link">
                    <img src="/img/pagination/button-next.svg" alt="button next">
                </a>
            </li>
        </ul>
    </div>
</template>

<script>

export default {
    name: "PaginationRecipes",
    props: [
        'route_api',
        'route_category_show',
        'route_recipe_show'
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            pagination: {}
        }
    },

    mounted() {
        this.getRecipes();
    },

    methods: {
        async getRecipes(page_url) {
            page_url = page_url || this.route_api
            await axios.get(page_url)
                .then(response => {
                    this.recipes = response.data.data
                    this.makePagination(response.data)
                })
                .catch(({response}) => {
                })
        },
        makePagination(response) {
            let pagination = {
                current_page: response.current_page,
                last_page: response.last_page,
                prev_page_url: response.prev_page_url,
                next_page_url: response.next_page_url,
                links: response.links,
                total: response.total
            }

            this.pagination = pagination
        }
    }
}
</script>

<style scoped>

</style>
