.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

    &__title {
        font-family: "Frank Ruhl Libre", Georgia, serif;
        -webkit-font-smoothing: antialiased;
        font-size: 2rem;
        line-height: 1.1;
    }

    &--background{
        background: #95aed5;
    }

    &--padding-20{
        padding: 20px;
    }

    &--padding-70-0{
        padding: 70px 0;
    }
}

.section-content-banner{
    img{
        width: 100%;
        aspect-ratio: 16/5;
        object-fit: cover;
    }
}
