.auth {
    display: flex;
    justify-content: center;

    &__form {
        border: 2px solid #95aed5;
        padding: 15px;
        border-radius: 5px;
        margin-top: 125px;
    }

    &__submit {
        background: #95aed5;
        margin-right: 10px;
        padding: 7px;
        border: 2px solid transparent;
        border-radius: 2px;
        color: white;
    }
}

.input {
    width: 300px;
}


