.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
    border-top: 1px solid #9e9e9e;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #95aed5;

    @media (max-width: 768px) {
        flex-direction: column;
        height: 100px;
    }

    &__logo {
        display: none;

        @media (min-width: $laptop) {
            display: flex;
            align-items: center;

        }

        a{
            text-decoration: none;

            span {
                @include default-transition();
                font-family: "Comic Sans MS", cursive, sans-serif;
                font-size: 26px;
                letter-spacing: 4.8px;
                word-spacing: -5px;
                color: #ffffff;
                font-weight: normal;
                text-decoration: none solid rgb(68, 68, 68);
                font-style: normal;
                font-variant: small-caps;
                text-transform: uppercase;

                &:hover{
                    color: #f8ca13;
                }
            }
        }
    }

    &__notice-text {
        width: 50%;

        @media (max-width: 768px) {
            width: unset;
        }
    }

    &__notice-text,
    &__copyright {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
    }
}
