.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background: #95aed5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #9e9e9e;

    &__burger{
        display: flex;
        gap: 60px;
        margin-left: 10px;
        height: 40px;
    }

    &__logo {
        display: none;

        @media (min-width: $laptop) {
            display: flex;
            align-items: center;
            margin: 0 25px;

        }

        a{
            text-decoration: none;

            span {
                @include default-transition();
                font-family: "Comic Sans MS", cursive, sans-serif;
                font-size: 26px;
                letter-spacing: 4.8px;
                word-spacing: -5px;
                color: #ffffff;
                font-weight: normal;
                text-decoration: none solid rgb(68, 68, 68);
                font-style: normal;
                font-variant: small-caps;
                text-transform: uppercase;

                &:hover{
                    color: #f8ca13;
                }
            }
        }
    }
}

.user__alert {
    display: none;
}

.alert-notifications {
    display: flex;

    &--none{
        display: none;
    }
}

.guest-buttons {
    &__button {
        margin-right: 5px;
        background: white;
        padding: 10px 8px;
        border-radius: 5px;
    }
}
